<h4 align="center">営業日報編集</h4>

<%= form_for(@daily_report, url: path, method: method) do |f| %>

<div class="container">
<div class="row">

<div class="col-sm-6">

  <div class="form-group">
    <div class="col-sm-12">
    <% method == :put ? name = user_name(@daily_report.user_id) : name = current_user.name %>
    <p class="col-sm-6"><span class="label label-primary">営業</span><%= " "+name %></p>
  </div>
  </div>

</div><!-- class="col-sm-6" -->

<div class="col-sm-6">

  <div class="form-group">
    <div class="col-sm-12 form-inline">
    <p class="col-sm-2" ><span class="label label-primary">実施日</span></p>
    <div class="col-sm-3">
      <%= f.text_field :report_date,  :value => (f.object.report_date.strftime('%Y/%m/%d/%H/%M') unless f.object.report_date.nil?), class: 'date-picker-date form-control' %>
    </div>
    </div>
  </div>

</div><!-- class="col-sm-6" -->


<div class="col-sm-12">
<% if current_user.id == @daily_report.user_id || method == :post %>
<div class="text-right">
  <%= link_to_add_association '項目追加', f, :daily_report_details, class: 'btn btn-success',
  data: {association_insertion_node: '#item-association-insertion-point',
        assoiation_insertion_method: 'append'}
  %>
<% end %>
</div>

<table class="table table-list">
<thead>
  <tr>
    <th>顧客名</th>
    <th>商談相手</th>
    <th>内容</th>
    <th>約束事項</th>
    <th>コメント</th>
    <th>内容区分</th>
    <th>行動区分</th>
    <th></th>
  </tr>
</thead>

<tbody id='item-association-insertion-point'>
<div class="form-group">
<%= f.fields_for :daily_report_details do |item| %>
  <%= render 'daily_report_detail_fields', f: item %>
<% end %>
</div>
</tbody>
</table>
</div>

<div class="col-sm-6 btn-toolbar">
<% if @daily_report.id.nil? %>
  <%= link_to 'キャンセル', daily_reports_path, class: 'col-sm-2 btn btn-primary' %>
<% else %>
  <%= link_to 'キャンセル', daily_report_path(@daily_report), class: 'col-sm-2 btn btn-primary' %>
<% end %>
<%= f.submit '保存', class: 'col-sm-2 btn btn-primary'%>
</div>

</div>
</div>


<% end %>